# -----------------------------------------------------
# NTP 설정
# -----------------------------------------------------
# NTP 서버 설정
- name: "Set NTP server to 0.kr.pool.ntp.org"
  lineinfile:
    path: /etc/systemd/timesyncd.conf
    regexp: '^#?NTP='
    line: 'NTP=0.kr.pool.ntp.org'
    state: present

# systemd-timesyncd 재시작
- name: "Restart systemd-timesyncd"
  systemd:
    name: systemd-timesyncd
    state: restarted

# -----------------------------------------------------
# NTP 설정 검증
# -----------------------------------------------------
# NTP 설정 검증
- name: "Assert.. NTP server is set"
  assert:
    that:
      - "'NTP=0.kr.pool.ntp.org' in lookup('file', '/etc/systemd/timesyncd.conf')"
    success_msg: "Good!.. | NTP server is set to 0.kr.pool.ntp.org"
    fail_msg: "ERROR!.. | NTP server is NOT set"
