# -----------------------------------------------------
# 패키지 버전 고정
# -----------------------------------------------------

# 커널 버전 수집
- name: "Get kernel version"
  command: uname -r
  register: kernel_version
  changed_when: false

# 커널 및 Java 패키지 hold
- name: "Hold kernel and Java packages"
  command: >
    apt-mark hold
    linux-image-{{ kernel_version.stdout }}
    openjdk-{{ java_version }}-jdk
    openjdk-{{ java_version }}-jdk-headless
    openjdk-{{ java_version }}-jre
    openjdk-{{ java_version }}-jre-headless
  args:
    warn: false
  changed_when: false

# -----------------------------------------------------
# 3. 검증 (Assert)
# -----------------------------------------------------

- name: "Check held packages"
  command: apt-mark showhold
  register: held_packages
  changed_when: false

- name: "Assert kernel and Java packages are held"
  assert:
    that:
      - "'linux-image-{{ kernel_version.stdout }}' in held_packages.stdout"
      - "'openjdk-{{ java_version }}-jdk' in held_packages.stdout"
      - "'openjdk-{{ java_version }}-jdk-headless' in held_packages.stdout"
      - "'openjdk-{{ java_version }}-jre' in held_packages.stdout"
      - "'openjdk-{{ java_version }}-jre-headless' in held_packages.stdout"
    success_msg: "Good!.. | Kernel & Java {{ java_version }} packages are held successfully"
    fail_msg: "ERROR!.. | Kernel or Java {{ java_version }} packages are NOT held"
