# -----------------------------------------------------
# Open files 설정 (nofile)
# -----------------------------------------------------
# root 사용자의 open files 제한 증가
- name: "Set open files limit for root"
  lineinfile:
    path: /etc/security/limits.conf
    regexp: '^root\s+-\s+nofile'
    line: 'root - nofile 65536'
    state: present

# -----------------------------------------------------
# Open files 설정 검증
# -----------------------------------------------------
- name: "Assert.. open files limit is set for root"
  assert:
    that:
      - "'root - nofile 65536' in lookup('file', '/etc/security/limits.conf')"
    success_msg: "Good!.. | Open files limit for root is set to 65536"
    fail_msg: "ERROR!.. | Open files limit for root is NOT set"
